.bt-100 {
  width: 165px;
  min-height: 315px;
  background: url("/rsc/6624.svg") 0 0 no-repeat;
}
.bt-80 {
  width: 165px;
  min-height: 315px;
  background: url("/rsc/6624.svg") -210px 0 no-repeat;
}
.bt-60 {
  width: 165px;
  min-height: 315px;
  background: url("/rsc/6624.svg") -429px 0 no-repeat;
}
.bt-40 {
  width: 165px;
  min-height: 315px;
  background: url("/rsc/6624.svg") -644px 0 no-repeat;
}
.bt-20 {
  width: 165px;
  min-height: 315px;
  background: url("/rsc/6624.svg") -871px 0 no-repeat;
}
.bt-10 {
  width: 165px;
  min-height: 315px;
  background: url("/rsc/6624.svg") -1090px 0 no-repeat;
}
.bt-0 {
  width: 165px;
  min-height: 315px;
  background: url("/rsc/6624.svg") -1090px -387px no-repeat;
}
