@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "hkgyokk";
  src: url("/fonts/hkgyokk.ttf");

  /* Add other font formats here if applicable */
}

html {
  @apply h-full flex max-w-md mx-auto;
}

body {
  @apply h-full flex w-full;
}

:root {
  font-family: "Roboto", sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  /* fix for Chrome */
}

.app-container {
  @apply flex flex-col overflow-auto w-full h-full;
}

#root {
  @apply flex h-full overflow-auto w-full;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-wave {
  animation: wave 1s infinite;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-sm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

.btn-green {
  background-image: linear-gradient(#38743a, #3a813b, #307031);
}
